<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="com.epam.reportportal.testng.ReportPortalTestNGListener"/>
<!--        <listener class-name="com.framework.listener.TestFailListener"/>-->
    </listeners>
    <test verbose="2" preserve-order="true" name="C:/Users/Chloe_Wang1/IdeaProjects/BDDSeleniumJava/src">
        <classes>
            <class name="com.test.testrunner.AuthorizeRunner"/>
<!--            <class name="com.framework.testcases.TestRegister">-->
<!--                <methods>-->
<!--                    <include name="test_user_registration"/>-->
<!--                </methods>-->
<!--            </class>-->
<!--            <class name="com.framework.testcases.TestLogin">-->
<!--                <methods>-->
<!--                    <include name="test_user_login"/>-->
<!--                    <include name="test_user_login_pwd_lack_one_character"/>-->
<!--                </methods>-->
<!--            </class>-->
        </classes>
    </test>
</suite>